<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter an url" required>
          <input type="submit" class="ghost-button"class="btn btn-secondary btn-lg"  value="Get information">
        </form>
        <% if(data !== null){ %>
          <p><%= data %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
    <div class="d-flex flex-row container-fluid">
      <div>Statistics</div>
      <div>Information</div>
      <div class="container-fluid d-flex-column">
        <div>PHOTO</div>
        <div>MAIN INFORMATION</div>
      </div>
    </div>
  </body>
</html>
